<html>
    <head>
        <title>ConvertMyMoney</title>
        <link href="/estilos.css" rel="stylesheet">
    </head>
    <body>
        <h1><a href="/"><img src="/logo.png" alt="Convert My Money"></a></h1>